{% extends "layout.html" %}


{% block heading %}
  First Page
{% endblock %}

{% block body %}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean et pretium urna. Aenean sodales, est quis lacinia consequat, turpis diam euismod lorem, nec euismod arcu erat pellentesque dui. In viverra a elit bibendum vehicula. Integer ac ipsum neque. Nulla congue magna ac lectus bibendum dignissim. Donec pulvinar aliquam libero in vulputate. Curabitur aliquam porta fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam felis risus, sodales vel purus at, semper accumsan diam. Fusce ut risus eleifend lacus volutpat tincidunt quis nec turpis. Suspendisse ut quam porttitor, dictum elit mattis, fermentum orci. Maecenas eu est accumsan, laoreet sapien in, maximus erat. Suspendisse odio enim, laoreet vel cursus vel, rutrum id tellus. Donec at sapien fermentum nisi ullamcorper euismod.</p>

    <a href="{{url_for('more')}}"> more...</a>

{% endblock %}
