<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My website</title>
  </head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <body>
    <h1>{% block heading %}{% endblock %}</h1>

    {% block body %}
    <form class="form-control" action="{{url_for('hello')}}" method="POST">
      <input type="text" name="name" placeholder="Enter your name">
      <button>Submit</button>
      </form>
    {% endblock %}

  </body>
</html>
